.form-signin {
    border-width: 3px;
    border-radius: 20px;
    border-color: #7A808E;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
}


.hr {
    color: #00A5D3;
}

a {
    text-decoration: none;
}

.wrapper{
    margin: 0;
}

.navbar .hamburger {
    width: fit-content;
    height: fit-content;
    padding: 8px 8px;
    cursor: pointer;
}

.hamburger div{
    width: 25px;
    height: 2px;
    background: #1A9ABA;
    margin: 5px 5px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btnnavbar {
    border-width: 0px;
    background-color: #F8F9FB;
}

.sidebar {
    width: 200px;
    z-index: 1;
    background-color: #BFE2EC;
    position: fixed;
    height: 100%;
    overflow: hidden;
    padding-top: 77px;
    vertical-align: middle;
    transition: 0.4s;
}

.btn-sidebar {
    background-color: #1A9ABA;
    -webkit-text-fill-color: #fff;
    text-align: start;
    width: 200px;
    border-radius: 0px;
    padding: 10px 15px 10px 15px;
    border-color: #1A9ABA;
    display: flex;
}

.h4-sidebar {
    -webkit-text-fill-color: #fff;
    vertical-align: middle;
    padding-top: 15px;
}

.text-profile {
    display: inline;
}

.edit-profile {
    justify-content: space-between;
    gap: 40px;
}

.avatar-profile-sidebar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.avatar-profile {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.avatar-profile img {
    width: 100%;
    height: auto;
    display: block;
}

.form-control-photo {
    background-color: #EDEDED;
    width: 270px;
    border: 1px;
    border-radius: 100px;
    padding: 10px 15px 10px 15px;
    margin-left: auto;
    margin-right: auto;
}


.h4-profile {
    color: #7A808E;
    font-weight: bold;
}

.active-main-content {
    margin-left: -180px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.active-sidebar {
    margin-left: 0;
    width: 0;
    height: 100%;
    padding: 0 0 0 0;
}

#main-content {
    transition: 0.4s;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-left: 250px;
    position: absolute;
    align-items: center;
}

.form-add {
    padding-top: 30px;
    padding-inline-start: 20px;
    width: auto;
}

.form-control {
    background-color: #EDEDED;
    width: 100%;
    border: 1px;
    border-radius: 100px;
    padding: 10px 15px 10px 15px;
}

.btn {
    background-color: #1A9ABA;
    border: 1px;
    border-radius: 100px;
    padding: 5px 32px;
    text-align: center;
    display: inline-block;
    -webkit-text-fill-color: #F5F5F5;
    float: right;
}

select {
    width: 100%;
    border: 1px;
    border-radius: 100px;
    box-shadow: 1px 1px 1px 1px grey;
    background-color: #EDEDED;
    padding: 10px 15px 10px 15px;
    -webkit-text-fill-color: #7A808E;
}

.label {
    -webkit-text-fill-color: #7A808E;
    font-weight: bold;
}

.label1 {
    -webkit-text-fill-color: #7A808E;
    font-weight: bold;
    font-size: smaller;
}

h1 {
    -webkit-text-fill-color: #7A808E;
    font-weight: bolder;
}

h2 {
    -webkit-text-fill-color: #7A808E;
    font-weight: bolder;
}

h5 {
    -webkit-text-fill-color: #7A808E;
    font-weight: bolder;
    margin-top: 10px;
}

.dropdown-tahun {
    width: calc(30%-100px);
    background-color: #1A9ABA;
    color: #fff;
    -webkit-text-fill-color: #fff;
}

table {
    width: 100%;
    -webkit-text-fill-color: #7A808E;
    border: 2.5px solid;
    border-color: #F5F5F5;
    border-collapse: collapse;
    overflow: auto;
    margin-top: 20px;
}

.table > tbody > tr > * {
    vertical-align: middle;
}

.table > thead > tr > * {
    vertical-align: middle;
}

thead {
    background-color: #e5fefe;
    vertical-align: middle;
}

.badge {
    height: 30px;
    width: fit-content;
    -webkit-text-fill-color: #fff;
    vertical-align: middle;
}

.card-corporate {
    /* margin-left: auto;
    margin-right: auto; */
    background-color: #00A5D3;
    color: #fff;
    border-radius: 10px;
    width: max-content;
    padding: 10px 15px 10px 15px;
    text-align: center;
}

.h1-corporate {
    -webkit-text-fill-color: #fff;
    font-size: 50px;
}

p {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0;
}

.card-subdit {
    text-align: center;
    background-color: #EDEDED;
    color: #7A808E;
    border-radius: 10px;
    width: 175px;
    height: 139px;
    padding: 1px 1px 1px 1px;
    justify-content: space-between;
}

.card-iku-corporate {
    /* margin-left: auto;
    margin-right: auto; */
    background-color: #00A5D3;
    color: #fff;
    border-radius: 10px;
    width: 190px;
    padding: 10px 15px 10px 15px;
    text-align: center;
}

.h1-iku-corporate {
    -webkit-text-fill-color: #fff;
    font-size: 35px;
}

.card-group {
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    column-gap: 1px;
    margin-left: auto;
    margin-right: auto;
}

.card-chart {
    text-align:left;
    background-color: #EDEDED;
    color: #7A808E;
    width: 100%;
    height: 300px;
    padding: 1px 1px 1px 1px;
    justify-content: space-between;
}

.card-piechart {
    text-align:left;
    background-color: #EDEDED;
    color: #7A808E;
    width: 100%;
    height: 600px;
    padding: 1px 1px 1px 1px;
    justify-content: space-between;
}

/* .active-main-content .card-iku-corporate {
    width: 170px;
} */