.hr {
    color: #00A5D3;
}

a {
    text-decoration: none;
}

.wrapper{
    margin: 0;
}

.navbar .hamburger {
    width: fit-content;
    height: fit-content;
    padding: 8px 8px;
    cursor: pointer;
}

.hamburger div{
    width: 25px;
    height: 2px;
    background: #1A9ABA;
    margin: 5px 5px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btnnavbar {
    border-width: 0px;
    background-color: #F8F9FB;
}

.sidebar {
    width: 200px;
    z-index: 1;
    background-color: #BFE2EC;
    position: fixed;
    height: 100%;
    overflow: hidden;
    padding-top: 77px;
    vertical-align: middle;
    transition: 0.4s;
}

.btn-sidebar {
    background-color: #1A9ABA;
    -webkit-text-fill-color: #fff;
    text-align: start;
    width: 200px;
    border-radius: 0px;
    padding: 10px 15px 10px 15px;
    border-color: #1A9ABA;
    display: flex;
}

.h1-sidebar {
    -webkit-text-fill-color: #fff;
    font-size: xx-large;
}

.text-profile {
    display: inline;
}

.active-main-content {
    margin-left: -180px;
}

.active-sidebar {
    margin-left: 0;
    width: 0px;
    height: 100%;
    padding: 0 0 0 0;
}

#main-content {
    transition: 0.4s;
}

.container {
    height: 100%;
    padding-top: 100px;
    padding-left: 250px;
    position: absolute;
}

.form-add {
    padding-top: 30px;
    padding-inline-start: 20px;
    width: auto;
}

.form-control {
    background-color: #EDEDED;
    width: 100%;
    border: 1px;
    border-radius: 100px;
    padding: 10px 15px 10px 15px;
}

.btn {
    background-color: #1A9ABA;
    border: 1px;
    border-radius: 100px;
    padding: 5px 32px;
    text-align: center;
    display: inline-block;
    -webkit-text-fill-color: #F5F5F5;
    float: right;
}

select {
    width: 100%;
    border: 1px;
    border-radius: 100px;
    box-shadow: 1px 1px 1px 1px grey;
    background-color: #EDEDED;
    padding: 10px 15px 10px 15px;
    -webkit-text-fill-color: #7A808E;
}

.label {
    -webkit-text-fill-color: #7A808E;
    font-weight: bold;
}

.label1 {
    -webkit-text-fill-color: #7A808E;
    font-weight: bold;
    font-size: smaller;
}

h1 {
    -webkit-text-fill-color: #7A808E;
    font-weight: bolder;
}

h5 {
    -webkit-text-fill-color: #7A808E;
    font-weight: bolder;
    margin-top: 10px;
}

table {
    width: 50%;
    -webkit-text-fill-color: #7A808E;
    border: 2.5px solid;
    border-color: #F5F5F5;
    border-collapse: collapse;
    overflow: auto;
}

.table > tbody > tr > * {
    vertical-align: middle;
}

.table > thead > tr > * {
    vertical-align: middle;
}

thead {
    /* padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    width: max-content; */
    background-color: #e5fefe;
    vertical-align: middle;
}